body {
  background-color: aliceblue;
  background-image: url(../images/clouds.jpg);
  text-align: center;
}

ul {
  list-style-type: none;
}

footer {
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
  opacity: 0.8;
}

.border-right {
  border-right: 1px solid black;
}

.first {
  background-color: aliceblue;
}

.high-temp {
  font-weight: bold;
}

.city {
  font-size: 70px;
}

.condition {
  font-size: 40px;
}

.temp,
.temp-icon {
  font-size: 70px;
  font-weight: bold;
}

.conversions {
  font-size: 20px;
  vertical-align: text-top;
  font-weight: lighter;
}

.current-condition {
  color: #7fade9;
}

.container {
  color: black;
  background-color: white;
  margin-top: 50px;
  max-width: 1000px;
  min-width: 400px;
  border-radius: 20px;
  padding: 30px 20px 5px 40px;
  font-family: "Ubuntu", sans-serif;
}

.active {
  text-decoration: none;
  color: black;
  cursor: default;
}

.weather-forecast {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

.forecast-text {
  position: relative;
  top: -20px;
}

#condition {
  text-transform: capitalize;
}

#search-button {
  background-color: aliceblue;
  border-color: #7fade9;
}

#city-form {
  padding-top: 10px;
  padding-bottom: 30px;
}
